# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/bolsa_valores

# API External Users
USERS_API_URL=http://18.228.48.67
USERS_API_TIMEOUT=10

# Server Configuration
HOST=0.0.0.0
PORT=8000
